.apply_content_wrap {
    width: 435px;
}

.apply_content_wrap .content_input_wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_wrap {
    width: 210px;
    margin-bottom: 10px;
}

.input_wrap_flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 210px;
}

.input_wrap_flex select {
    width: 100%;
}

.input_wrap_flex article {
    min-width: 30px;
    margin-right: 10px;
}

.apply_content_wrap #submit_btn {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

table {
    min-width: 900px;
}

thead tr th {
    padding: 10px;
    text-align: center;
}

tbody {
    text-align: center;
}

#product_list tr td {
    padding: 10px;
}