.content_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input_wrap {
    margin-bottom: 10px;
}

.input_wrap_flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.input_wrap_flex select {
    width: 100%;
}

.input_wrap_flex article {
    min-width: 30px;
    margin-right: 10px;
}