<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/index}"
>
<th:block layout:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/menu.css}" rel="stylesheet"/>
</th:block>
<body>
<th:block layout:fragment="header" th:include="@{/layout/header}"></th:block>
<div layout:fragment="content" class="content">
    <div class="content_wrap">
        <div class="menu_box">
            <a href="/admin/product/apply">상품등록</a>
        </div>
        <div class="menu_box">
            <a href="/admin/product/list">상품목록</a>
        </div>
        <div class="menu_box">
            <a href="/admin/user/list">회원관리</a>
        </div>
    </div>
</div>
<th:block layout:fragment="footer" th:include="@{/layout/footer}"></th:block>
</body>
</html>